# Compiled class file
*.class

# Log file
logs/
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ
*.iml

# Metadata
.gradle/
.idea/

# Semi-products
gradle/
build/
out/

# Configuration files
src/main/resources/application.properties
src/main/resources/log4j2.xml
